<div class="row">
  <div class="col-md-12">

    <h2>Add Category</h2>

    <br />

    <form method="post" action="/categories/add">
    <div class="row">
        <div class="col-md-12">
        <div class="form-group">
            <label for="category">Category:</label>
            <input class="form-control" id="category" name="category" type="text" autofocus/>
        </div>
        </div>
    </div>

      <hr />

      <input type="submit" class="btn btn-primary pull-right" value="Add Category" /><br /><br /><br />

    </form>
  </div>
</div>

